.HamburgerMenu
  &_item_active
    div:nth-child(1)
      transform: rotate(45deg) translate(12px, 12px);

    div:nth-child(2)
      visibility: hidden;

    div:nth-child(3)
      transform: rotate(-45deg) translate(15px, -16px);

