.DonerMenu
  &_item
    flex-direction: column;
    div:nth-child(2)
      width: 32px;

    div:nth-child(3)
      width: 20px;

  &_item_active
    div:nth-child(1)
      transform: rotate(45deg) translate(12px, 12px);

    div:nth-child(2)
      width: 20px;
      transform: rotate(-45deg) translate(-12px, -1.5px);

    div:nth-child(3)
      transform: rotate(-45deg) translate(25px, -14px);
